<div class="col-md-2"></div>
<div class="col-md-8 center">
<h1 id="login-h1">LOGIN OR CREATE AN ACCOUNT</h1>


<div class="row">

<div class="col-md-6 registered-users">
	<h3>Registered Users</h3>
	<h5>Please login in your email address</h5>
	<br/>
	<%= form_for :user do |f|  %>
		<div class="form-group">
		    <%= f.label :email %>:
		    <%= f.email_field :email , class: "form-control"%>
		</div>
		<div class="form-group">
		    <%= f.label :password %>:
		    <%= f.password_field :password , class: "form-control"%>
		</div>
		<div class="form-group">
			<%= f.submit "Login", class: "form-control btn btn-primary"  %>
		</div>
	<% end %>
</div>

<div class="col-md-6 new-users">

	<h3>New Users</h3>
	<h5>some description on what signing up will do</h5>
	

</div>

</div>
</div>
</div>


<div class="col-md-2"></div>