<div class="col-xs-12 col-sm-6 col-sm-3-offset col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	<h1 id="login-h1">Login or Create an Account</h1>

	<div class="row">

		<div class="col-md-6 registered-users">
			<h3>Registered Users</h3>
			<h5>Please login with your email address</h5>

			<% flash.each do |k, v| %>
				<h4 id="<%= k %>"><%= v %></h4>
			<% end %>
			
			<div id="login-form">
				<%= form_for :user do |f| %>
					<div class="form-group">
				    <%= f.label :email %>:
				    <%= f.email_field :email , class: "form-control", autofocus: true %>
					</div>
					<div class="form-group">
				    <%= f.label :password %>:
				    <%= f.password_field :password , class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.submit "Login", class: "form-control btn btn-primary"  %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="col-md-6 new-users">
			<h3>New Users</h3>
			<h5>Sign up to track surge pricing for your favorite locations</h5>
			<%= button_to "Register", "/signup", method: :get, class: "btn btn-default", id:"sign-up-btn"%>
		</div>
	</div>
</div>

<div class="col-md-2"></div>