<div class="col-md-3 left-side">

  <h1><%= @price_query.nickname %></h1>

  <div><%= @price_query.start_address  %>, <%= @price_query.city %></div>

  <%= button_to "Delete this place", user_price_query_path(@user.id, @price_query.id), method: :delete, class: "btn btn-default"  %>

  <%= button_to "Return to Profile", user_path(@user.id), method: :get, class: "btn btn-default" %>

  <!-- for testing -->
  <!-- <div>CITY, reverse geocode of start address: <%= @price_query.city  %></div>
  <div>END latitude: <%= @price_query.end_latitude  %></div>
  <div>END longitude: <%= @price_query.end_longitude  %></div> -->
  <!-- closes testing -->

</div>

<div class="col-md-9 center">

  <form action="/search" method="post" id="get-surge">

    <select class="form-control options" id="day">
      <option>Select Day of the Week</option>
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
      <option>Sunday</option>
    </select>

    <select class="form-control options" id="uber-type">
      <option>Select Uber Type</option>
      <% @uber_types.each do |uber_type| %>
        <option><%= uber_type %></option>
      <% end %>
      <option>All Uber Types</option>
    </select>

    <input type="hidden", value="<%= @price_query.id %>" id="price-query-id">

    <input type="submit" value="GET SURGE DATA", class="btn btn-default">

  </form>

    <canvas id="myChart" width="800" height="400"></canvas>

  <iframe
    width="450"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRM8UQB34Os-POEUqDMhoFq-s4rmfnAx8&q=<%=@price_query.start_address%>&zoom=15">
  </iframe>
</div>