<div class="col-sm-3 left-side" id="saved-place">

  <h1><%= @price_query.nickname %></h1>
  <p><%= @price_query.start_address  %>, <%= @price_query.city %></p>

  <%= button_to "Delete this place", user_price_query_path(@user.id, @price_query.id), method: :delete, class: "btn btn-danger" %>

  <h3>Filter Surge Data</h3>

  <form action="/search" method="post" id="get-surge">
    <select class="form-control options" id="day", autofocus >
      <option>Select Day of the Week</option>
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
      <option>Sunday</option>
    </select>
    <select class="form-control options" id="uber-type">
      <option>Select Uber Type</option>
      <% @uber_types.each do |uber_type| %>
        <option><%= uber_type %></option>
      <% end %>
      <option>All Uber Types</option>
    </select>
    <input type="hidden", value="<%= @price_query.id %>" id="price-query-id">
    <input type="submit" value="Get Surge Data", class="btn btn-default" >
  </form>
  <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRM8UQB34Os-POEUqDMhoFq-s4rmfnAx8&q=<%=@price_query.start_address%>&zoom=15"></iframe>

</div>

<div class="col-sm-9 right-side">
  <div class="no-data">No surge data matches selected filters.</div>
  <canvas id="myChart" width="800px" height="400"></canvas>
</div>