<!-- TEST INDEX VIEW FOR PRICE RESULTS
NOT CURRENTLY IN USE -->

<div class="col-md-2"></div>
<div class="col-md-8 center">
  <h1>Surge Meter</h1>

  <div class="queries-container">
    <!-- for each price query, show all price results -->
    <% @price_queries.each do |query| %>
    
      <div class="query">
        <span class="query-name"><h5><%= query.city %> (<%= query.nickname %>)</h5></span>
        <p>
          <!-- for each result, show uber type, surge multiplier, price estimate, and UTC time -->
          <% query.price_results.each do |result| %>
            
            <% month = result.created_at.month %>
            <% day = result.created_at.day %>
            <% year = result.created_at.year %>

            <% hour = result.created_at.localtime.hour %>
            <% if hour > 12 %>
              <% hour = hour - 12 %>
              <% suffix = "PM" %>
            <% else %>
              <% suffix = "AM" %>
            <% end %>

            <% min = result.created_at.localtime.min %>
            <% if min < 10 %>
              <% min = "0" + min.to_s %>
            <% end %>

            <div class="result">
              <div class="uber-type"><strong><%= result.display_name %></strong></div>
              <div class="surge">Surge Multiplier: <span class="surge-mult"><%= result.surge_multiplier %></span></div>
              <div class="estimate">Price Estimate: <%= result.estimate %></div>
              <div class="time">
                <%= month %>/<%= day %>/<%= year %> <%= hour %>:<%= min %> <%= suffix %>
              </div>
            </div>

          <% end %>
        </p>
      </div>
    <% end %>
    <div class="details"></div>
  </div>
</div>

<div class="col-md-2"></div>