<!DOCTYPE html>
<html>
<head>
  <title>Surge Protector</title>
  <%= favicon_link_tag 'favicon.ico' %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- D3.js -->
  <!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <a href="/">Home</a> <a href="/about">About</a> <a href="/api_calls/index">Data</a>
</div>

<div class="container">
  <div class="row">

    <%= yield %>

  </div>
</div>

<div class="footer"></div>

</body>
</html>