<!DOCTYPE html>
<html>
<head>
  <title>Surge Protector</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a id="navli" class ="navbar-brand" href="/">SurgeProtector</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if session[:user_id] != nil %>
            <li><a id="navli" href="/users/<%= session[:user_id] %>">Profile</a></li>
          <% end %>
          <li><a id="navli" href="/api_calls/index">Data</a></li>
          <li><a id="navli" href="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if session[:user_id] == nil %>
            <li><a id="navli" href="/login">Login</a></li>
            <li><a id="navli" href="/signup">Register</a></li>
          <% else %>
            <li><a id="navli" href="/logout">Logout</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav><br/><br/><br/>
</div>

<div class="container">
  <div class="row">

    <%= yield %>
    
  </div>
</div>

</body>
<div class="footer"></div>

</html>